.jumbotron { 
    background-color: grey;
    color: #ffffff;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;
}
.container-fluid {
    padding: 60px 50px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
/* #map, .sidenav {
padding-top: 10px; */
/* background-color: #f1f1f1; */
/* height: 95%;
} */

/* Set gray background color and 100% height */
#map,.sidenav {
padding-top: 10px;

/* background-color: #f1f1f1; */
height: 95%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bar {
  fill: purple;
}

.bar:hover {
  fill: orange;
}


tr:hover td {background:olivedrab}

.tableHeader
{
    color:orange;
    font-weight: bold;
}

.dropDownlabels
{
    color:orange;
    font-weight: bold;

}

.countyData
{
    color: #ffffff;
    font-size: medium;
}

.preferenceHeader
{
    color:orange; 
    font-size: medium;
}

.linkFill
{
    color:orange; 
    text-align: left;
    font-size: medium;
}

table#uc3, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color:rgb(95, 93, 93);
    color: white;
    padding: 15px;
    text-align: left;
}

table#uc3 tr:nth-child(even) {
    background-color:rgb(175, 44, 66);
}
table#uc3 tr:nth-child(odd) {
   background-color: #fff;
}

.alignTextLeft {
    text-align:center;
}

.SubmitButton {
    color: rgb(0, 0, 0);
    background-color:orange;
    padding: 2px 24px;
    margin: 4px 2px;
    font-size: 16px;
    
    /*
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; */

}
