<!DOCTYPE html>
<html lang="en">
<head>
  <title>Select-a-healthy-county</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "static/styles.css">
 
  
</head>
<body>
        


        <!-- Use Case 1 -->

        

        <!-- Plot Area -->


        <!-- RR -->
        <!-- Use Case 3 -->

        <div class="container">
           <form action = "/attributeSelection" method = "POST" id="userSelections" autocomplete="on">
                <label for="ex2">State</label>
                 <select id="StateShortName" name="StateShortName" aria-placeholder="Select Sample" form="userSelections"   onchange="optionChanged(this.value)">
                 </select>

                <label for="ex2">Selection 1</label>
                 <select id="preference1" name="preference1" aria-placeholder="Select Sample" form="userSelections"   onchange="optionChanged(this.value)">
                 </select>
                
                <label for="ex2">Selection 2</label>
                <select id="preference2" name="preference2" aria-placeholder="Select Sample"  form="userSelections" onchange="optionChanged(this.value)">
                </select>

                <label for="ex2">Selection 3</label>
                <select id="preference3" name="preference3" aria-placeholder="Select Sample"  form="userSelections" onchange="optionChanged(this.value)">
                </select>

                <label for="ex2">Selection 4</label>
                <select id="preference4" name="preference4" aria-placeholder="Select Sample"  form="userSelections" onchange="optionChanged(this.value)">
                </select>
                
                <input type = "submit" value = "submit" />
            
            

            </form>
        
            
            <script language="javascript" type="text/javascript">

                //If parent option is changed
                $("#preference1").change(function() {
                    var parent = $(this).val(); //get option value from parent
                        list("#preference1", '#preference2', parent);
                    });
                
                    $("#preference2").change(function () {
                        var parent = $(this).val(); //get option value from parent
                        list("#preference2", '#child_selection2', parent);
                    });
                
                
                    $("#child_selection2").change(function () {
                        var parent = $(this).val(); //get option value from parent
                        list("#child_selection2", '#child_selection4', parent);
                    });
                
                    function remove(array, element) {
                        return array.filter(function (x) {
                            return x.value != element
                        });
                    }
                
                //function to populate child select box
                function list(parentOption, dependentChild, removeItem)
                {
                    var options = $(parentOption +' option');
                    var values = $.map(options, function (option) {
                        return { display: option.innerText, value: option.label };
                });
                
                 
                
                    $(dependentChild).html(""); //reset child options
                    var childArray = remove(values, removeItem);
                    $(childArray).each(function (i) { //populate child options
                        $(dependentChild).append("<option value=\"" + childArray[i].value + "\">" + childArray[i].display + "</option>");
                    });
                
                }
                
            </script>
        
        <div>
        <select id="selDataset" aria-placeholder="Select Sample" onchange="optionChanged(this.value)">
        </select>
        </div -->
        <div class="dropdown">
        
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span>
        </button>
        
        </div>
        
        <div class="jumbotronUc2">
            <div id="map" class="col-xs-10">
      
        </div>

 </div>
</div>
    <!-- RR --> 
    <!-- Display of 3 Recommended Counties  -->        
     <br>
     <br>
     <div class="row">
            <div id ="recommendedCounties" class="col-md-12">
                    {{ result|safe }}
            </div>    
     </div>
    
        
</body>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!-- <script type="text/javascript" src="static/countyselection.js"></script> -->
<script src="{{ url_for('static', filename='countyselection.js') }}"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/config.js"></script>
  <!-- Our JS -->
  <script type="text/javascript" src="static/logic.js"></script>

  <!--<script type="text/javascript" src="static/index.js?n=1"></script>-->
  <!--<script type="text/javascript" src="static/index_new.js?n=1"></script> -->
  <!--script type="text/javascript" src="static/countyselection.js"></script -->
  <script src="{{ url_for('static', filename='index.js') }}"></script>
   <script src="{{ url_for('static', filename='logic.js') }}"></script>
</html>





